.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

} 

.logoRest{
    border-radius: 50%;
    width: 50%;
}

.imgprro{
    height: 30%;
    display: flex;
    align-items: flex-end;
}

.card{
    width: 25%;
    display: flex;
    align-items: center;
}